html,body{
    margin:0;
    height: 100%;

}
body{
    display: flex;
    align-items: center;
}
.btn{
    width: 200px;
    height: 100px;
    background:radial-gradient(circle,rgba(247,150,192,1)0%,rgba(118,174,241,1)100%);
    border: none;
    color: #fff;
    cursor:pointer;
    position:relative;
    line-height: 120px;
}
.btn:hover{
    background-color: transparent;
    color: #76aef1;

}
.btn::before,
.btn::after{
    content: '';
    position:absolute;
    width: 1px;
    height: 1px;
    box-shadow: 
    -1px -1px 20px 0px rgba(255, 255, 255, 1),
    -4px -4px 5px 0px rgba(255, 255, 255, 1),
    10px 10px 20px 0px rgba(0,0,0,.4),
    6px 6px 5px 0px rgba(0,0,0,.3) ;
    transition: all 0.8s ease;
    padding: 0;

}