h3,p,figure{
  margin: 0%;
  padding: 0;
}
#product1{
  width: 300px;
  height: 280px;
  border: solid 1px;
  margin: 0;
}
#product1 h3{
  margin-left: 110px;
  margin-top: 0%;
  font-size: 20px;
}
#product1 figure{
  text-align: center;
  border: solid 0px black;
  margin-top: 0px;
}
#product1 .tip{
  width: 80px;
  height: 30px;
  background-color: brown;
  color: rgb(255, 255, 255);
  border-radius: 0%;
  margin-left: 0px;
  padding: 0;
  font-size: 20px;
}
h3,p,figure{
    margin: 0%;
    padding: 0;
  }
  #product2{
    width: 300px;
    height: 280px;
    border: solid 1px;
    margin: 0;
  }
  #product2 h3{
    margin-left: 110px;
    margin-top: 0%;
    font-size: 20px;
  }
  #product2 figure{
    text-align: center;
    border: solid 0px black;
    margin-top: 0px;
  }
  #product2 .tip{
    width: 80px;
    height: 30px;
    background-color: brown;
    color: rgb(255, 255, 255);
    border-radius: 0%;
    margin-left: 0px;
    padding: 0;
    font-size: 20px;
  }
  h3,p,figure{
    margin: 0%;
    padding: 0;
  }
  #product3{
    width: 300px;
    height: 280px;
    border: solid 1px;
    margin: 0;
  }
  #product3 h3{
    margin-left: 110px;
    margin-top: 0%;
    font-size: 20px;
  }
  #product3 figure{
    text-align: center;
    border: solid 0px black;
    margin-top: 0px;
  }
  #product3 .tip{
    width: 80px;
    height: 30px;
    background-color: brown;
    color: rgb(255, 255, 255);
    border-radius: 0%;
    margin-left: 0px;
    padding: 0;
    font-size: 20px;
  }
  h3,p,figure{
    margin: 0%;
    padding: 0;
  }
  #product4{
    width: 300px;
    height: 280px;
    border: solid 1px;
    margin: 0;
  }
  #product4 h3{
    margin-left: 100px;
    margin-top: 0%;
    font-size: 20px;
  }
  #product4 figure{
    text-align: center;
    border: solid 0px black;
    margin-top: 0px;
  }
  #product4 .tip{
    width: 80px;
    height: 30px;
    background-color: brown;
    color: rgb(255, 255, 255);
    border-radius: 0%;
    margin-left: 0px;
    padding: 0;
    font-size: 20px;
  }
  
  